.carousel-inner img {
    width: 1300px;
    height: 400px;
  }

#video{
	background-color: black;
	margin: auto;
	width: 1285px;
	height: 600px;
}

#img1{
	margin-top: 10px;
	width: 70px;
	height: 70px;
}

#img2{
	margin-top: 10px;
	width: 70px;
	height: 70px;
}
 #img3{
 	margin-top: 10px;
 	width: 70px;
	height: 70px;
 }

#img4{
	margin-top: 10px;
	width: 70px;
	height: 70px;
}

.fdizquierda {

	float: left; 
	width: 8%;
}

.fdcentro {

	margin: auto; 
	width: 92%;
}

p{
	color: black;
	font-size: 50px
}

#tab{

   float: center; 
   border-collapse: separate;
   border-spacing: 5px;
   background: #000 url("img/tabla.jfif") bottom left repeat-x;
   color: #fff;
   height: 80px;
     width: 80%;
   border: 1px solid #000;
}
td, th {
   background: #fff;
   color: #000;
    width: 20%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
}
